# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ServerCreation.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Leopo\source\repos\ServerCreation\.idea\.idea.ServerCreation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
